* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

button,
input,
textarea {
  font-family: "Lato", sans-serif;
}

button {
  background-color: #fff;
  border: none;
}

.line-button {
  position: relative;
  padding: 18px 30px;
  font-size: 16px;
  line-height: 1.25;
  color: #151b26;
  cursor: pointer;
}

.line-button::after {
  /* 가상요소를 만들어줘서 마우스가 올라가지 않으면 width값을 0으로  */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0066ff;
  transition: width 250ms ease-in, background-color 250ms ease-in;
}

.line-button:hover::after {
  /* hover가 되었을 때 가상요소, width가 끝까지 먹을 수 있도록! */
  width: 100%;
  background-color: hotpink;
}
