* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  /* 부모의 color를 상속받아라! */
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* ≥ 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.3636363636;
  }
}

/* Custom Grid System = Fix container width */
@media screen and (min-width: 1200px) {
  /* 화면사이즈가 최소 1200px 이상일 때 */
  .container {
    max-width: 960px !important;
    /* 그때 컨테이너는 max-width를 960px로 먹어라! */
  }
}

/* start */
.container {
  background-color: #fdded8;
  width: 100%;
  height: 100vh;
}

.col-12 h1 {
  margin-top: 154px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-align: center;
  color: #2b292d;
}

.col-12 p {
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #2b292d;
}

button {
  width: 140px;
  height: 48px;
  border: none;
  background-color: #3040c4;
  color: #fff;
  border-radius: 2px;
  background-color: #fff;
  padding: 12px;
}

.learn {
  background-color: #fff;
  color: #3040c4;
  margin-left: 8px;
}
