.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* 이거 기억! */
  font-family: "Poppins", sans-serif;
}

.card-image {
  display: flex;
  justify-content: center; /* 이거 기억! */
  align-items: center; /* 이거 기억! */
  overflow: hidden; /* 이거 기억! */
  margin-right: 24px;
  width: 300px;
  height: 200px;
  background-image: url(assets/img-house.jpg);
  background-repeat: no-repeat;
  background-position: center center; /* 이거 기억! */
  background-size: cover; /* 이거 기억! */
  border-radius: 6px;
  position: relative;
  top: 24px;
}

.plus-badge {
  display: inline-block; /* 이거 기억! */
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571428571429;
  color: #fff;
  background-color: #92174d;
  padding: 1px 8px;
  border-radius: 4px;
  margin-right: 6px;
  text-transform: uppercase; /* 이거 기억! */
}

.property-type span {
  color: #7d858f;
  font-size: 16px;
  line-height: 1.25;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate span {
  color: #7d858f;
}

.property-rate strong {
  color: #151b26;
  font-weight: 400;
}

.property-rate::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(./assets/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  top: 2px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.card-title {
  font-size: 20px;
  line-height: 1.6;
  color: #151b26;
  font-weight: 400;
  margin-bottom: 16px;
}

.property-detail {
  color: #7d858f;
  font-size: 14px;
  line-height: 1.142857142857143;
}

.sr-only {
  position: absolute; /* 집을 나간 아이로 만들어버림 */
  z-index: -100; /* 저 밑으로 사라져랏 = 눈에 안보이게 만듬 */
  width: 1px;
  height: 1px;
  /* 더 확실하게 처리. 만약 width와 height가 0이면 스크린 리더가 읽어주지 않음. */
  overflow: hidden;
  /* 얘보다 컨텐츠가 넓으면 안보이게 가려줄 수 있음. 그게 overflow: hidden. 1px에서 벗어나는 애들은 다 짤라버림.*/
  opacity: 0; /* 투명도 0으로 !! */
}

.property-detail dd span::after {
  content: "·";
  margin: 0 8px;
  /* 기본적으로 inline. inline은 margin-top, bottom은 줄 수 없어도 left, right는 줄 수 있다 */
}

.property-detail dd span:last-child::after {
  /* property-detail안에 있는 dd 안에 있는 span의 마지막 친구의 가상요소 after은  */
  content: "";
  margin: 0;
}

.property-detail div:first-child {
  content: "";
  margin-bottom: 8px;
}

.card {
  display: flex;
  width: 840px;
  position: relative;
  padding: 24px;
}

.card-content {
  flex-grow: 1;
}

.like-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-image: url(./assets/icon-favorite.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 12px;
}

/*

.card-image img {
  width: 100%;
  height: auto;
}

*/
